<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="AxisBankPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Ccmt\Payment\Model\Ui\Axis\ConfigProvider::AXIS_CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Ccmt\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">AxisBankValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">AxisBankCommandPool</argument>
        </arguments>
    </virtualType>
    <!--virtualType name="TechproBankPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Ccmt\Payment\Model\Ui\Techpro\ConfigProvider::TECHPRO_CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\SamplePaymentGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">SamplePaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">SamplePaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType-->
    <virtualType name="AxisBankValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AxisBankConfigValueHandler</item>
                <item name="can_void" xsi:type="string">Ccmt\Payment\Gateway\Config\CanVoidHandler</item>
                <item name="can_cancel" xsi:type="string">Ccmt\Payment\Gateway\Config\CanVoidHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="AxisBankConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Ccmt\Payment\Gateway\Config\Axis\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="AxisBankCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">AxisBankAuthorizeCommand</item>
                <!--item name="void" xsi:type="string">BraintreeVoidCommand</item>
                <item name="refund" xsi:type="string">BraintreeRefundCommand</item>
                <item name="cancel" xsi:type="string">BraintreeVoidCommand</item>
                <item name="deny_payment" xsi:type="string">BraintreeVoidCommand</item-->
            </argument>
        </arguments>
    </virtualType>

     <!-- Braintree commands  -->
    <virtualType name="AxisBankAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">AxisBankAuthorizeRequest</argument>
            <argument name="transferFactory" xsi:type="object">Ccmt\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Ccmt\Payment\Gateway\Http\Client\AxisBankTransaction</argument>
            <argument name="handler" xsi:type="object">AxisBankAuthorizationHandler</argument>
            <argument name="validator" xsi:type="object">Ccmt\Payment\Gateway\Validator\ResponseCodeValidator</argument>
        </arguments>
    </virtualType>
    
    <virtualType name="AxisBankAuthorizeRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">Ccmt\Payment\Gateway\Request\CustomerDataBuilder</item>
                <item name="payment" xsi:type="string">Ccmt\Payment\Gateway\Request\PaymentDataBuilder</item>
                <item name="address" xsi:type="string">Ccmt\Payment\Gateway\Request\AddressDataBuilder</item>
                <item name="dynamic_descriptor" xsi:type="string">Ccmt\Payment\Gateway\Request\DescriptorDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Ccmt\Payment\Gateway\Http\Client\Axis\AxisBankTransaction">
        <arguments>
            <argument name="customLogger" xsi:type="object">AxisBankLogger</argument>
            <argument name="adapter" xsi:type="object">Ccmt\Payment\Model\Adapter\Axis\AxisBankAdapter</argument>
        </arguments>
    </type>

    <virtualType name="AxisBankLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">Ccmt\Payment\Gateway\Config\Axis\Config</argument>
        </arguments>
    </virtualType>

   <virtualType name="AxisBankAuthorizationHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payment_details" xsi:type="string">Ccmt\Payment\Gateway\Response\PaymentDetailsHandler</item>
                <item name="txn_id" xsi:type="string">Ccmt\Payment\Gateway\Response\TransactionIdHandler</item>
                <item name="card_details" xsi:type="string">Ccmt\Payment\Gateway\Response\CardDetailsHandler</item>
                <item name="risk_data" xsi:type="string">Ccmt\Payment\Gateway\Response\RiskDataHandler</item>
                <item name="vault_details" xsi:type="string">Ccmt\Payment\Gateway\Response\VaultDetailsHandler</item>
                <item name="3d_secure" xsi:type="string">Ccmt\Payment\Gateway\Response\ThreeDSecureDetailsHandler</item>
            </argument>
        </arguments>
    </virtualType>
   <!-- Void Command -->
    <!--virtualType name="BraintreeVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="client" xsi:type="object">Magento\Braintree\Gateway\Http\Client\TransactionVoid</argument>
            <argument name="requestBuilder" xsi:type="object">Magento\Braintree\Gateway\Request\VoidDataBuilder</argument>
            <argument name="handler" xsi:type="object">Magento\Braintree\Gateway\Response\VoidHandler</argument>
            <argument name="validator" xsi:type="object">Magento\Braintree\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="transferFactory" xsi:type="object">Magento\Braintree\Gateway\Http\TransferFactory</argument>
        </arguments>
    </virtualType-->

     <!-- Refund Command -->
    <!--virtualType name="BraintreeRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="client" xsi:type="object">Magento\Braintree\Gateway\Http\Client\TransactionRefund</argument>
            <argument name="requestBuilder" xsi:type="object">Magento\Braintree\Gateway\Request\RefundDataBuilder</argument>
            <argument name="validator" xsi:type="object">Magento\Braintree\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="handler" xsi:type="object">Magento\Braintree\Gateway\Response\RefundHandler</argument>
            <argument name="transferFactory" xsi:type="object">Magento\Braintree\Gateway\Http\TransferFactory</argument>
        </arguments>
    </virtualType-->


<!-- Value handlers infrastructure -->
    <type name="Ccmt\Payment\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">AxisPaymentGatewayConfig</argument>
        </arguments>
    </type>

</config>

